@using ClientApplicationContactBook.ViewModels
@model List<ReportCount>
@{
    var count = ViewBag.TotalCount;
}

<partial name="_ReportPartialView" />

<h1>Count of contact based on gender: @count</h1>