<div class="body">
    <app-navbar></app-navbar>
<div class="container">
  <main role="main" class="pb-3">
          <!-- <div id="autoCloseAlert" class="alert alert-success alert-dismissible fade show">
              <b>Success:</b> @successMessage
              <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
      
     
          <div id="autoCloseAlert" class="alert alert-danger alert-dismissible fade show">
              <b>Error:</b> @errorMessage
              <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
      
      <div id="messageContainer" class="message-container"></div> -->
      <router-outlet></router-outlet>
  </main>
</div>

<app-footer></app-footer>
</div>