<div class="container">
    <h2 class="text-center  mb-4">Change Password</h2>
    <div class="position-relative">
      <div *ngIf="loading" class="loader-overlay">
        <img src="assets/loaderImage.gif" class="loader-overlay" alt="loading" />
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <form #changePasswordForm="ngForm" class="needs-validation" (ngSubmit)="onSubmit(changePasswordForm)" novalidate>
              <input type="hidden" class="form-control" id="userName" name="userName" [(ngModel)]="changepassword.userName">
            <div class="mb-3">
              <label for="password" class="form-label">Password:</label>
              <input type="password" id="password" name="password" class="form-control" [(ngModel)]="changepassword.password"
                required minlength="8" pattern="^(?=.*[a-zA-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&].{8,}$">
              <div *ngIf="changePasswordForm.controls['password']?.invalid && changePasswordForm.controls['password']?.touched">
                <small class="text-danger" *ngIf="changePasswordForm.controls['password']?.errors?.['required']">Password is
                  required.</small>
                <small class="text-danger" *ngIf="changePasswordForm.controls['password']?.errors?.['minlength']">Password must be
                  at least 8 characters long.</small>
                <small class="text-danger" *ngIf="changePasswordForm.controls['password']?.errors?.['pattern']">Password must be
                  alphanumeric and contain at least one special character.</small>
              </div>
            </div>
            <div class="mb-3">
              <label for="confirmPassword" class="form-label">Confirm Password:</label>
              <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
                [(ngModel)]="changepassword.confirmPassword" (input)="checkPasswords(changePasswordForm)" required>
              <div *ngIf="changePasswordForm.controls['confirmPassword']?.invalid && changePasswordForm.controls['confirmPassword']?.touched">
                <small class="text-danger" *ngIf="changePasswordForm.controls['confirmPassword']?.errors?.['required']">Confirm
                  password is required.</small>
                <small class="text-danger"
                  *ngIf="changePasswordForm.controls['confirmPassword']?.errors?.['passwordMismatch']">Passwords do not
                  match.</small>
              </div>
            </div>
           
            <br>
            <button type="submit" class="btn btn-primary" [disabled]="changePasswordForm.invalid">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  