<div class="container">
    <h2 class="text-center  mb-4">Forget Password</h2>
    <div class="position-relative">
      <div *ngIf="loading" class="loader-overlay">
        <img src="assets/loaderImage.gif" class="loader-overlay" alt="loading" />
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <form #forgetPasswordForm="ngForm" class="needs-validation" (ngSubmit)="onSubmit(forgetPasswordForm)" novalidate>
            
            <div class="mb-3">
              <label class="form-label" for="userName">Login Id:</label>
              <input type="text" class="form-control" id="userName" name="userName" [(ngModel)]="forgetpassword.userName" required
                minlength="2">
              <div *ngIf="forgetPasswordForm.controls['userName']?.invalid && forgetPasswordForm.controls['userName']?.touched">
                <small class="text-danger" *ngIf="forgetPasswordForm.controls['userName']?.errors?.['required']">Login id is
                  required.</small>
                <small class="text-danger" *ngIf="forgetPasswordForm.controls['userName']?.errors?.['minlength']">Login id must be
                  at least 2 characters long.</small>
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password:</label>
              <input type="password" id="password" name="password" class="form-control" [(ngModel)]="forgetpassword.password"
                required minlength="8" pattern="^(?=.*[a-zA-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&].{8,}$">
              <div *ngIf="forgetPasswordForm.controls['password']?.invalid && forgetPasswordForm.controls['password']?.touched">
                <small class="text-danger" *ngIf="forgetPasswordForm.controls['password']?.errors?.['required']">Password is
                  required.</small>
                <small class="text-danger" *ngIf="forgetPasswordForm.controls['password']?.errors?.['minlength']">Password must be
                  at least 8 characters long.</small>
                <small class="text-danger" *ngIf="forgetPasswordForm.controls['password']?.errors?.['pattern']">Password must be
                  alphanumeric and contain at least one special character.</small>
              </div>
            </div>
            <div class="mb-3">
              <label for="confirmPassword" class="form-label">Confirm Password:</label>
              <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
                [(ngModel)]="forgetpassword.confirmPassword" (input)="checkPasswords(forgetPasswordForm)" required>
              <div *ngIf="forgetPasswordForm.controls['confirmPassword']?.invalid && forgetPasswordForm.controls['confirmPassword']?.touched">
                <small class="text-danger" *ngIf="forgetPasswordForm.controls['confirmPassword']?.errors?.['required']">Confirm
                  password is required.</small>
                <small class="text-danger"
                  *ngIf="forgetPasswordForm.controls['confirmPassword']?.errors?.['passwordMismatch']">Passwords do not
                  match.</small>
              </div>
            </div>
           
            <br>
            <button type="submit" class="btn btn-primary" [disabled]="forgetPasswordForm.invalid">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  